table{
    width: 300px;
    margin-top: 1.5rem;
}

@media all and (min-width: 450px){
    table{
        width: 500px;
    }
}

#link1,#link2,#link3,#link4,#link5,
#link6,#link7, #link8{
    opacity:.4;
}
.mdl-layout__header-row{
    background-color: #1b4b9b
}
